@import '../../styles/settings.scss';

.cardForm {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
  flex-wrap: wrap;

  input {
    max-width: 220px;
  }
}

@media only screen and (max-width: 768px) {

  .cardForm {
    input {
      min-width: 100%;
    }
  }
}